body{
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.navbar{
  background: #fff;
  padding: 20px;;
}

.amarillo {
  background: #f9b442;
  height: 600px;
}

.celular{
  margin-top: 70px;
  border: 2px solid #fff;
  border-left: 0;
}

.cel-largo{
  padding: 30px;
  max-height: 500px;
}

h2{
  font-size: 40px;
}

.app{
  font-size: 23px;
  padding: 30px;
}
