
body{
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.navbar{
  background: #fff;
  padding: 20px;;
}

.registrate{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  float:right;
  background: #f9b442;
  height: 300px;
  padding: 20px;
  margin-top: -500px;
}

.letras{
  display: flex;
  justify-content: center;
}

.boton{
  margin-top: 20px;
  display: block;
}

.amarillo {
  background: #f9b442;
  height: 600px;
}

.celular{
  margin-top: 70px;
  border: 2px solid #fff;
  border-left: 0;
}

.cel-largo{
  padding: 30px;
  max-height: 500px;
}

h2{
  font-size: 40px;
}

.app{
  font-size: 23px;
  padding: 30px;
}

.conduce{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  float:right;
  background: rgba(0,0,0,0.5);
  height: 300px;
  padding: 40px;
  margin-top: -600px;
}

.metas{
  font-size: 18px;
}

.form-group{
  margin-top: 30px;
}

.consulta{
  font-size: 20px;
}

.tarifas{
  padding: 70px;
}

.input-group-addon{
  background: rgba(0,0,0,0);
  border: none;
}

.form-control{
  background: rgba(0,0,0,0);
  border: 0.5px solid #fff;
  margin-left: 12px;
  font-size: 15px;
  letter-spacing: 1px;
}

.glyphicon{
  color: #fff;
  font-size: 20px;
}

.exampleInputAmount::placeholder{
  color: #fff;
}

.trazar{
  text-align: center;
  padding: 40px;
}

.ruta{
  padding: 12px;
  width: 160px;
}

.mapa{
  padding: 70px;
}

#map {
  height: 400px;
  width: 100%;
}

footer{
  background: black;
  margin: 0;
}
=======
/* Estilo seccion nav*/
nav a{
  color: #000;
  padding-bottom: 10%;
  font-size: 1.5em;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

#interaccionUsuario {
  background-image: url(../img/taxi.jpg);
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 115vh;
  display: flex;
  align-items: center;
}

#home {
  color: #FFF;
  background-color: #FAAE27;
  padding: 5%;
  padding-right: 10%;
}

#home h2 {
  margin-bottom: 10%;
}

#home img {
  width: 20%;
}


/*Seccion descarga App*/

#descargaApp,
#tarifa {
  background-color: #FAAE27;
  display: flex;
}

.contenedor {
  display: flex;
  border: 2px solid #FFF;
  padding: 3%;
  margin-top: 3%;
  margin-left: -3%;
  margin-right: 3%;
  margin-bottom: 3%;
}


/*Seccion conduce*/

#conduce {
  background-image: url(../img/conduce.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
}

#panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  background-color: rgba(0, 0, 0, .6);
  padding: 5%;
  margin-right: 0 auto;
  width: 34%;
  height: 90vh;
}

#panel h2 {
  font-size: 2em;
}

#panel p {
  font-size: 105%;
}

.btn-warning {
  color: #fff;
  background-color: #FAAE27;
  border-color: #FAAE27;
}

#panelmobil {
  display: none;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  background-color: rgba(0, 0, 0, .6);
  padding: 5%;
  margin-right: 0 auto;
  width: 100%;
  height: 90vh;
}

.btn {
    display: inline-block;
    padding: 9px 0px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 73%;
    margin-left: 17%;
}

/*Seccion tarifa*/

#tarifa {
  display: flex;
  flex-direction: row;
  padding: 3%;
  color: #FFF;
  padding-left: 2%;
  width: 103%;
  margin: -2%;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #FFF;
  background-color: #FAAE27;
  background-image: none;
  border: 2px solid #FFF;
  border-radius: 4%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#tarifa>div>div img {
  padding-right: 1%;
}

#ruta-tarifa {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.inputs {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 2%;
}

#contenedor-map {
  border: 1px solid #FFF;
}

#map {
  margin-top: 2%;
  margin-bottom: 2%;
  height: 50vh;
  width: 100%;
}


/* Estilos footer */

footer {
  background-color: #333;
  color: #FFF;
}

.logo{
  padding-top: 5%;
}
.footer-text p{
  margin:20px;
}
