/* Estilo seccion nav*/

#mobil {
  display: none;
}

nav a{
  color: #000;
  padding-bottom: 10%;
  font-size: 1.5em;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

#interaccionUsuario {
  background-image: url(../img/taxi.jpg);
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 115vh;
  display: flex;
  align-items: center;
}

#home,
#home-mobil{
  color: #FFF;
  background-color: #FAAE27;
  padding: 5%;
  padding-right: 10%;
}

#home h2,
#home-mobil h2{
  margin-bottom: 10%;
}

#home img,
#home-mobil img{
  width: 20%;
}


/*Seccion descarga App*/

#descargaApp,
#tarifa {
  background-color: #FAAE27;
  display: flex;
}

.contenedor {
  display: flex;
  border: 2px solid #FFF;
  padding: 3%;
  margin-top: 3%;
  margin-left: -3%;
  margin-right: 3%;
  margin-bottom: 3%;
}


/*Seccion conduce*/

#conduce {
  background-image: url(../img/conduce.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
}

#panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  background-color: rgba(0, 0, 0, .6);
  padding: 5%;
  margin-right: 0 auto;
  width: 34%;
  height: 90vh;
}

#panel h2 {
  font-size: 2em;
}

#panel p {
  font-size: 105%;
}

.btn-warning {
  color: #fff;
  background-color: #FAAE27;
  border-color: #FAAE27;
}

#panelmobil {
  display: none;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  background-color: rgba(0, 0, 0, .6);
  padding: 5%;
  margin-right: 0 auto;
  width: 100%;
  height: 90vh;
}


/*Seccion tarifa*/

#tarifa {
  display: flex;
  flex-direction: row;
  padding: 3%;
  color: #FFF;
  padding-left: 2%;
  width: 103%;
  margin: -2%;
}

#tarifa>div>div img {
  padding-right: 1%;
}

#ruta-tarifa {
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 2%;
}

#contenedor-map {
  border: 1px solid #FFF;
}

#map {
  margin-top: 2%;
  margin-bottom: 2%;
  height: 50vh;
  width: 100%;
}


/* Estilos footer */

footer {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #FFF;
  width: 100%;
}

#logos-redes {
  position: absolute;
  left: 5%;
  bottom: 20%;
}

#logo-blanco {
  display: flex;
  padding-top: 5%;
}

#sistemasOp {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 18%;
  right: 0;
}

#sistemasOp div {
  padding: 2%;
}


    /*seccion Lexa......=>*/
.select-body{
  background-color: #f1e9e9;
}
.select{
  display: flex;
  justify-content: space-around;
  width: 90%;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 3px;
}
.select:hover{
  border: 1px solid blue;
}
.content{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}

/*modal registro*/

.btn-login{
	margin: 5%;
}
.inline{
	display: inline !important
}
.blanco-letra {
  color: #FFF;
}
#header-registro {
  background-color: #000;
}

