@media (min-width: 0px) and (max-width: 720px) {
  #desktop {
    display: none;
  }

  .mobil {
    display: block;
  }
  .navbar-default {
    background-color: #FFF;
    padding-bottom: 1%;
    justify-content: space-around;
  }
  #mobil {
    display: flex;


  }
  #img-logo-color {
    padding: 3%;
    padding-left: 25%;
  }

  #menuhug {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
  }
  .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 0.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
   
   
  /*Seccion app*/
  #descargaApp{
    display: flex;
    height:400px;
  }

  .iphone{
    height: 350px;
    padding: 50px;
  }

  .descarga{
    display:block;
  }

  .nueva-app{
    display: flex;
    align-items: flex-start;
    color: #fff;
  }

  .ocultar {
    display: none;
  }

  #panel {
    display: none;
  }

  #panelmobil {
    display: flex;
  }
}

@media (min-width: 720px){
    #home-mobil{
        display: none;
    }
}


